{% extends 'home.html' %}

{% block title %}
<title>О нас</title>
{% endblock %}

{% block content %}
<h1>The Gunya Post.</h1>
<h2>Новости и аналитика каждый день.</h2>
<hr>
<h2>2017 год.</h2>
{% endblock %}

