{% extends 'home.html' %}
{% load staticfiles %}

{% block title %}
<meta property="fb:admins" content="100018193862517"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/article.css' %}">
{% endblock %}

{% block content %}
<div class="body">
	<h1>{{ self.article.subject }}</h1>
	{% if article.image %}
		<img src="{{ MEDIA_URL }} {{ article.image.url }}" width="700">
	{% endif %}
	<h3>Автор: {{ article.author }}</h3>
	<h3>Опубликовано: {{ article.publication_date }}</h3>
	<p>{{ article.post|linebreaksbr }}</p>
	<a href="{% url 'home' %}"><input type="button" value="Вернуться на главную"></a>
</div>

<div class="fb-comments" data-href="https://127.0.0.1:8000/article/([0-9]+)" data-numposts="5"></div>
{% endblock %}

{% block pages %}
&nbsp;
{% endblock %}
