{% extends 'home.html' %}

{% block content %}
	<h1>Добавить отзыв</h1>
	<form method="post" class="post-form">
		{{ form.as_p }}
		<button type="submit">Отправить</button>
	</form>
{% endblock %}

{% block pages %}
&nbsp;
{% endblock %}