body
{
	margin-left: 40px;
}

h1
{
	font-family: 'Lobster', cursive;
}

p
{
	font-family: 'Lobster', cursive;
	font-size: 20px;
}

.header h1 
{
	font-family: 'Lobster', cursive;
	color: white;
	background: rgb(51, 122, 183);
	padding: 20px;
	margin-top: 0px;
}