{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	{% load bootstrap3 %}
	<script src="{% bootstrap_jquery_url %}"></script>
	{% bootstrap_javascript %}
	{% bootstrap_css %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/post.css' %}">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic">

	{% block title %}
	<title>The Gunya Post: новости</title>
	{% endblock %}
</head>
<body>
	<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.11';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

	<div class="header">
		<h1>The Gunya Post. Добро пожаловать, снова.</h1>
	</div>

	<div id="menu">
		<ul>
			<li><a href="{% url 'home' %}">Главная</a></li>
			<li><a href="/about/">О нас</a></li>
			<li><a href="{% url 'callback' %}">Добавить отзыв</a></li>
		</ul>
	</div>

	<div id="content">
		{% block content %}
		{% endblock %}
	</div>

	<div id="body">
		{% for post in object_list %}
			<h1><a href="{% url 'article_detail' pk=post.pk %}">{{ post.subject }}</a></h1>
			<p>Опубликовано: {{ post.publication_date }}</p>
			{% if post.image %}
				<p><img src="{{ MEDIA_URL}} {{ post.image.url }}" width="600"></p>
			{% endif %}
			<p>{{ post.post|linebreaksbr }}</p>
		{% endfor %}
	</div>

  	{% if is_paginated %}
      	<div class="pagination">
          	<span class="page-links">
              	{% if page_obj.has_previous %}
                  	<a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">Предыдущая</a>
              	{% endif %}
              	<span class="page-current">
                  	Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
              	</span>
              	{% if page_obj.has_next %}
                  	<a href="{{ request.path }}?page={{ page_obj.next_page_number }}">следующая</a>
              	{% endif %}
          	</span>
      	</div>
 	{% endif %}

	<div id="auth">
		{% block login %}
		{% endblock %}
	</div>
</body>
</html>