{% if form.errors %}
	<p class="error">Неверное имя пользователя и/или пароль!</p>
{% endif %}

{% if user.is_authenticated %}
	<p>Добро пожаловать, {{ user.username }}!</p>
{% endif %}
<form action="" method="post">{% csrf_token %}
	<label for="username">Имя пользователя:</label>
	<input type="text" name="username" value="" id="username">
	<label for="password">Пароль:</label>
	<input type="password" name="password" value="" id="password">
	<input type="submit" value="Войти">
	<input type="hidden" name="next" value="/" />
</form>